.szamitas_section{

    background-color: orange;

}
h2{

    color: orange;


}

.kijeloles{

  background-color: orange;


}

table{

  border-collapse: collapse;

}
tr{

  border-bottom: 1px black solid;


}