.szamitas_section{

    background-color: orange;

}
h2{

    color: orange;


}

.kijeloles{

  background-color: orange;


}

table{
  margin: auto;
  align-content: center;
  border-collapse: collapse;
  height: +250px;
  width: +400px;
}
tr{

  border-bottom: 1px rgb(68, 68, 68) solid;


}